* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 800px;
}

#root {
    display: flex;
    justify-content: center;
}

.todo {
    display: flex;
    padding: 15px;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 10px;
}

.body {
    width: 600px;
    word-wrap: break-word;
}

